@model IEnumerable<Saas.Admin.Web.Models.Tenant>

@{
	ViewData["Title"] = "Dashboard";
}

<!-- Content Row -->
<div class="row">

	<!-- Total Tenants Card -->
	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-left-primary shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Tenants</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">112</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-layer-group fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Active Tenants Card -->
	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-left-success shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-success text-uppercase mb-1">Active Tenants</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">98</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-toggle-on fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Incomplete Tenants -->
	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-left-info shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-info text-uppercase mb-1">Incomplete</div>
						<div class="row no-gutters align-items-center">
							<div class="col-auto">
								<div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">56</div>
							</div>
							@*<div class="col">
								<div class="progress progress-sm mr-2">
								<div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
								</div>*@
						</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-list-alt fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Leads -->
	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-left-warning shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Leads</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">32</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-address-card fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

<div class="row mt-3">
	<div class="col-12">
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-layer-group"></i>&nbsp;&nbsp;Most Recent Tenants</h6>
			</div>
			<div class="card-body">
				<table class="table">
					<thead>
						<tr>
							<th>
								@Html.DisplayNameFor(model => model.Name)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.IsActive)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.IsProvisioned)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.CategoryId)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.ProductId)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.UserId)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.Created)
							</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<td>
									@Html.DisplayFor(modelItem => item.Name)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.IsActive)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.IsProvisioned)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.CategoryId)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.ProductId)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.UserId)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Created)
								</td>
								<td>
									<a asp-controller="Tenants" asp-action="Details" asp-route-id="@item.Id">Details</a>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
