@model IEnumerable<Saas.SignupAdministration.Web.Services.TenantDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
@*            <th>
                @Html.DisplayNameFor(model => model.IsCancelled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsProvisioned)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Route)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Version)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
@*            <td>
                @Html.DisplayFor(modelItem => item.IsCancelled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsProvisioned)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Route)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Version)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {area = "Admin", id=item.Id} ) | 
                @Html.ActionLink("Details", "Details", new { area = "Admin", id=item.Id}) |
                @Html.ActionLink("Delete", "Delete", new { area = "Admin", id=item.Id})
            </td>
        </tr>
}
    </tbody>
</table>
