@model Saas.SignupAdministration.Web.Models.Tenant
@{
	ViewData["Title"] = "Create your Subscriber - Select a Plan";
}

<style type="text/css">
 .form .plan input, .form .payment-plan input, .form .payment-type input {
  display: none;
 }

 .form label {
  position: relative;
  color: #fff;
  background-color: #8ecda9;
  font-size: 1rem;
  text-align: center;
  height: 100px;
  line-height: 50px;
  display: block;
  cursor: pointer;
  border: 3px solid transparent;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
 }

 .form .plan input:checked + label, .form .payment-plan input:checked + label, .form .payment-type input:checked + label {
  border: 2px solid #51a852;
  /**/ background-color: #51a852;
 }

  .form .plan input:checked + label:after, form .payment-plan input:checked + label:after, .form .payment-type input:checked + label:after {
   content: "\2713";
   font-weight: 700;
   font-size: 1.5rem;
   width: 40px;
   height: 40px;
   line-height: 40px;
   border-radius: 100%;
   border: 2px solid #fff;
   background-color: #51a852;
   z-index: 999;
   position: absolute;
   top: -10px;
   right: -10px;
  }
</style>

<div class="row" style="margin: 0 auto; max-width: 600px;">
 <div class="col-12">
  <div style="font-size:.75rem;">STEP 3 OF 3</div>
  <div style="margin-top:.5rem;"><progress class="progress" id="file" value="90" max="100"></progress></div>
 </div>
</div>

<form class="form" method="post" onsubmit="displayOverlay(this);">
 <div class="row" style="margin: 0 auto; max-width: 600px;">
  <div class="col-12" style="margin-top: 1rem;">
   <div>
	<h5>Choose the plan that's right for you</h5>
	Upgrade or downgrade at any time.
   </div>
   <div class="row plan" style="margin-top:1rem;">
	<div class="col-4">
	 <input type="radio" name="ProductId" id="free" value="5" checked><label class="free-label" for="free"><span style="font-size:2rem;"><i class="fas fa-user"></i></span><br />Free</label>
	</div>
	<div class="col-4">
	 <input type="radio" name="ProductId" id="basic" value="6"><label class="basic-label" for="basic"><span style="font-size:2rem;"><i class="fas fa-user-friends"></i></span><br />Basic</label>
	</div>
	<div class="col-4">
	 <input type="radio" name="ProductId" id="standard" value="7"><label class="standard-label" for="standard"><span style="font-size:2rem;"><i class="fas fa-users"></i></span><br />Standard</label>
	</div>
   </div>
   <div style="margin-top:1rem; text-align:center; font-weight:700;">Free Trial</div>
   <div class="row" style="margin-top:1rem; text-align:center;">
	<div class="col-4">
	 Free Forever
	</div>
	<div class="col-4">
	 7 Days
	</div>
	<div class="col-4">
	 14 Days
	</div>
   </div>
   <hr />
   <div style="margin-top:1rem; text-align:center; font-weight:700;">Monthly price</div>
   <div class="row" style="margin-top:1rem; text-align:center;">
	<div class="col-4">
	 $0
	</div>
	<div class="col-4">
	 $4.99
	</div>
	<div class="col-4">
	 $9.99
	</div>
   </div>
   <hr />
   <div style="margin-top:1rem; text-align:center; font-weight:700;">Ad Supported</div>
   <div class="row" style="margin: 0 auto; max-width: 600px; margin-top:1rem; text-align:center;">
	<div class="col-4">
	 Yes
	</div>
	<div class="col-4">
	 Minimal
	</div>
	<div class="col-4">
	 None
	</div>
   </div>
   <hr />
   <div style="margin-top: 2rem;">
	<input type="hidden" name="Id" value="@ViewBag.Id" />
	<input type="hidden" name="UserId" value="@ViewBag.UserId" />
	<input type="hidden" name="IsExistingUser" value="@ViewBag.IsExistingUser" />
	<input type="hidden" name="Name" value="@ViewBag.Name" />
	<input type="hidden" name="CategoryId" value="@ViewBag.CategoryId" />
	<input type="submit" id="submitButton" class="btn btn-primary" style="width:100%;" value="NEXT">
   </div>
  </div>
 </div>
</form>

<!-- Display Processing Overlay -->
<script type="text/javascript">
 var displayOverlay = function (form) {
  // Disable submit button
  $('input[type=submit]').prop('disabled', true); // Disables visually + functionally

  // Set submit button value
  document.getElementById('submitButton').value = 'CREATING YOUR TENANT...';

  // Display overlay
  $("<div />").css({
   'position': 'fixed',
   'left': 0,
   'right': 0,
   'bottom': 0,
   'top': 0,
   'background': 'black',
   'opacity': '.5',
   'z-index': '1000',
   'text-align': 'center'
  }).appendTo($("body")).append($("<div style='margin-top:20rem; color:#ffffff; font-weight:500'><i class='fas fa-circle-notch fa-spin' style='font-size:3rem;'></i><br><br>Creating your Tenant</div>"));
 }
</script>