<link href="../../css/create.css" rel="stylesheet" />

<div class="row" style="margin: 0 auto; max-width: 600px;">
    <div class="col-12" style="margin-top:1.5rem;">
        <script src="https://js.stripe.com/v3"></script>
        <input type="submit" id="checkout-button" style="visibility:hidden;" />
    </div>
</div>

<script type="text/javascript">

    var price;

    // If statement to manage price plan
    if (@ViewBag.ProductId == 6)
    {
        price = "@ViewBag.StripeProductPlanSubscriberBasic";
    }
    else if (@ViewBag.ProductId == 7)
    {
        price = "@ViewBag.StripeProductPlanSubscriberStandard";
    }

    var stripe = Stripe('@ViewBag.StripePublishableKey');

    var checkoutButton = document.querySelector('#checkout-button');
    checkoutButton.addEventListener('click', function () {
        stripe.redirectToCheckout({
            lineItems: [{
                // Define the product and price in the Dashboard first, and use the price
                // ID in your client-side code. You may also pass a SKU id into the `price`
                // field
                price: price,
                quantity: 1
            }],
            mode: 'subscription',
            successUrl: 'https://@Context.Request.Host/create/deploy?id=@ViewBag.Id&userId=@ViewBag.UserId&isExistingUser=@ViewBag.IsExistingUser&name=@ViewBag.Name&categoryId=@ViewBag.CategoryId&productId=@ViewBag.ProductId',
            cancelUrl: 'https://@Context.Request.Host/create/plans?id=@ViewBag.Id&userId=@ViewBag.UserId&isExistingUser=@ViewBag.IsExistingUser&name=@ViewBag.Name&categoryId=@ViewBag.CategoryId&productId=@ViewBag.ProductId'
        });
    });
</script>

<script type="text/javascript">
    $(function () {
        $('#checkout-button').click();
    });
</script>